@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* set body to flex */
  display: flex;
  /* vertically align body to center */
  align-items: center;
  /* horizontally align body to center */
  justify-content: center;
}

.header {
  /* set container to flex */
  display: flex;
  /* set font weight to bold */
  font-weight: bold;
  /* set font size to larger than other text */
  font-size: 20px;
  /* align items vertically to center */
  align-items: center;
  /* align items horizontally to space between */
  justify-content: space-between;
  /* add space between bottom of header and other items */
  margin-bottom: 10px;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  /* set container to flex */
  display: flex;
  /* add space between items */
  gap: 15px;
  /* add space around edge of modal */
  padding: 15px;
}

.text {
  /* add space from buttons to text */
  margin-bottom: 15px;
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* prevent icon from shrinking */
  flex-shrink: 0;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}